#root.root {
	--audio-left: 22px;
	--tabs-font: 10pt sans-serif;
	--nav-btn-width: 42px;
	--nav-btn-height: 42px;
	--tabs-border-radius: 8px;
	--tabs-height: 40px;
	--tabs-inner-gap: 10px;
	--tabs-pinned-width: 42px;
	--tabs-pinned-height: 42px;
	--search-height: 36px;
	--search-icon-width: 42px;
}

.NavigationBar .nav-item {
	width: 38px;
	height: 38px;
	border-radius: var(--tabs-border-radius);
	margin: 0 1px;
}

.NavigationBar[data-layout="inline"] .main-items .nav-item[data-index="-1"][data-active="true"] {
	opacity: 1;
	z-index: 100;
	transform: scale(1, 1);
}

.NavigationBar .static-btns {
	transition: opacity 0.5s linear;
}

.PinnedTabsBar {
	flex-wrap: nowrap !important;
}

#root:not(:hover) .NavigationBar[data-layout="inline"] .static-btns {
	opacity: 0;
	z-index: -1;
	transform: scale(0, 0);
}

#root:not(:hover) .TabsPanel {
	--tabs-indent: 0px;
}

#root:not(:hover)[data-tabs-tree-lvl-marks="true"] .Tab[data-pin="false"]:not([data-lvl="0"]) .body:after {
	display: none;
}

.Tab .audio {
	position: absolute;
	top: 22px !important;
	left: var(--audio-left) !important;
	height: 16px !important;
	width: 16px !important;
	background: var(--badge-bg);
	border-radius: 3px;
	background-color: transparent !important;
}

.Tab .t-box {
	--audio-btn-offset: 0;
}

.Tab[data-active="true"] .body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0001;
	box-shadow: inset 0 0 3px 1px #fff9;
}

#root:not(:hover) .SearchBar::before {
	background: transparent;
}

#root:not(:hover) .SearchBar .placeholder,
#root:not(:hover) .SearchBar .input {
	opacity: 0;
}

#root:not(:hover) .SearchBar .clear-btn {
	display: none;
}

#root:not(:hover) .PanelPlaceholder {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.BottomBar .tool-btn {
	/* min-width: var(--tabs-pinned-width); */
	min-width: 40px; /* TODO: Use a var instead */
}
