@font-face {
  font-family: "Collegiate";
  src: url("fonts/collegiate-font/Collegiate-wM1w.ttf") format("woff2"), url("fonts/collegiate-font/Collegiate-wM1w.ttf") format("woff"), url("fonts/collegiate-font/Collegiate-wM1w.ttf") format("truetype");
}
@font-face {
  font-family: "Goldleaf";
  src: url("fonts/goldleaf-bold-font/GoldleafBoldPersonalUseBold-eZ4dO.ttf") format("woff2"), url("fonts/goldleaf-bold-font/GoldleafBoldPersonalUseBold-eZ4dO.ttf") format("woff"), url("fonts/goldleaf-bold-font/GoldleafBoldPersonalUseBold-eZ4dO.ttf") format("truetype");
}
@font-face {
  font-family: "Requiner";
  src: url("fonts/requiner-font/Requiner-6RRLM.otf") format("woff2"), url("fonts/requiner-font/Requiner-6RRLM.otf") format("woff"), url("fonts/requiner-font/Requiner-6RRLM.otf") format("truetype");
}
@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  :root {
    --blur: blur(7px);
    --box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1),
    	inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
    	inset 0 0 1px hsla(0, 0%, 100%, 0.1);
    --text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.3);
    --drop-shadow: drop-shadow(.2rem .2rem .1rem #0004);
    --title-font: "Collegiate", sans-serif;
    --title-size: 1.2rem;
  }
  .click-target-container *, .top-sites-list *, .section-title * {
    color: #fff !important;
    text-shadow: var(--text-shadow) !important;
  }
  body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    background: #000 no-repeat url(wallpapers/Himalajya.jpg) center;
    background-size: cover;
  }
  .personalize-button:hover, .customize-menu {
    background-color: hsla(0, 0%, 100%, 0.2) !important;
    backdrop-filter: var(--blur);
  }
  .customize-menu .close-button-wrapper {
    background: none !important;
  }
  .wallpaper-list {
    background: none !important;
    backdrop-filter: blur(3px);
  }
  .home-section .selector {
    background-color: transparent !important;
  }
  .home-section .divider {
    display: none;
  }
  .outer-wrapper {
    transition: filter 3s cubic-bezier(1, 0, 0, 1), -webkit-backdrop-filter 3s cubic-bezier(1, 0, 0, 1);
    transition: filter 3s cubic-bezier(1, 0, 0, 1), backdrop-filter 3s cubic-bezier(1, 0, 0, 1);
    transition: filter 3s cubic-bezier(1, 0, 0, 1), backdrop-filter 3s cubic-bezier(1, 0, 0, 1), -webkit-backdrop-filter 3s cubic-bezier(1, 0, 0, 1);
  }
  .outer-wrapper:active:not(:hover) {
    filter: invert(1);
    backdrop-filter: invert(0.001);
  }
  .search-wrapper {
    background: none !important;
    border: none !important;
  }
  .search-inner-wrapper {
    display: none !important;
  }
  .top-site-outer {
    border-radius: 12px;
    transition: all ease-in-out 0.3s, scale ease-in-out 0.2s;
  }
  .top-site-outer:is(.active, :focus-within, :hover) {
    background-color: hsla(0, 0%, 100%, 0.05) !important;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow);
    scale: 1.05;
  }
  .top-site-outer:is(.active, :focus-within, :hover) .icon-wrapper {
    width: 72px !important;
    height: 72px !important;
  }
  .top-site-outer:active {
    scale: 0.95;
  }
  .top-site-outer.active ~ * {
    pointer-events: none;
    opacity: 0;
  }
  .top-site-outer .tile {
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .top-site-outer .icon-wrapper {
    width: 64px !important;
    height: 64px !important;
    border-radius: 8px !important;
    filter: var(--drop-shadow);
    transition: all ease-in-out 0.3s;
  }
  .top-site-outer .top-site-icon {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    background-size: contain !important;
  }
  @media (-moz-platform: windows), (-moz-platform: windows-win10) {
    .top-site-outer:nth-child(1) .top-site-icon {
      background-image: url(logos/youtube.png) !important;
    }
    .top-site-outer:nth-child(2) .top-site-icon {
      background-image: url(logos/netflix.png) !important;
    }
    .top-site-outer:nth-child(3) .top-site-icon {
      background-image: url(logos/sflix.png) !important;
    }
    .top-site-outer:nth-child(4) .top-site-icon {
      background-image: url(logos/hianime.png) !important;
    }
    .top-site-outer:nth-child(5) .top-site-icon {
      background-image: url(logos/mangafire.png) !important;
    }
    .top-site-outer:nth-child(6) .top-site-icon {
      background-image: url(logos/nexusmods.png) !important;
    }
    .top-site-outer:nth-child(7) .top-site-icon {
      background-image: url(logos/maps.png) !important;
    }
    .top-site-outer:nth-child(8) .top-site-icon {
      background-image: url(logos/icloud.png) !important;
    }
    .top-site-outer:nth-child(9) .top-site-icon {
      background-image: url(logos/github.png) !important;
    }
    .top-site-outer:nth-child(10) .top-site-icon {
      background-image: url(logos/codepen.png) !important;
    }
    .top-site-outer:nth-child(11) .top-site-icon {
      background-image: url(logos/w3schools.png) !important;
    }
    .top-site-outer:nth-child(12) .top-site-icon {
      background-image: url(logos/idealo.png) !important;
    }
    .top-site-outer:nth-child(13) .top-site-icon {
      background-image: url(logos/chatgpt.png) !important;
    }
    .top-site-outer:nth-child(14) .top-site-icon {
      background-image: url(logos/geogebra.png) !important;
    }
    .top-site-outer:nth-child(15) .top-site-icon {
      background-image: url(logos/steamdb.png) !important;
    }
    .top-site-outer:nth-child(16) .top-site-icon {
      background-image: url(logos/firefoxcolor.png) !important;
    }
  }
  .title span {
    font-family: var(--title-font);
    font-size: var(--title-size);
    max-height: 22px;
    -moz-user-select: none;
         user-select: none;
    word-break: break-word !important;
    text-wrap: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    transition: max-height ease-in-out 0.3s;
    line-clamp: none !important;
    -webkit-line-clamp: none !important;
  }
  .title span:hover {
    max-height: 100px;
    contain: none !important;
    text-wrap: wrap !important;
    overflow: unset !important;
    white-space: nowrap;
  }
  .title:not(.pinned) span {
    font-style: italic;
  }
  .title .icon-pin-small {
    display: none !important;
  }
  .context-menu {
    background: hsla(0, 0%, 100%, 0.05) !important;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow) !important;
  }
  .context-menu-button {
    top: 3px !important;
    border-radius: 14px !important;
  }
  .logo-and-wordmark {
    margin-bottom: 0 !important;
  }
  .logo-and-wordmark-wrapper .logo {
    border-radius: 43%;
    filter: drop-shadow(-0.08rem 0.3rem 0.2rem rgba(223, 13, 101, 0.7529411765)) drop-shadow(0.2rem -0.3rem 0.2rem rgba(255, 222, 65, 0.7529411765));
    transition: filter 1s;
  }
  .logo-and-wordmark-wrapper .logo:hover {
    filter: drop-shadow(-0.08rem 0.3rem 0.5rem rgba(98, 90, 217, 0.7529411765)) drop-shadow(0.2rem -0.3rem 0.5rem rgba(187, 58, 230, 0.7529411765));
    animation: barrelRoll infinite linear 0.5s;
  }
  .logo-and-wordmark-wrapper .logo:active {
    position: relative;
    left: 0;
    animation: barrelRoll infinite linear 0.5s, sonic linear 1s forwards;
  }
  .logo-and-wordmark-wrapper .wordmark {
    filter: drop-shadow(0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2666666667));
  }
  .discovery-stream article {
    background-color: hsla(0, 0%, 100%, 0.05) !important;
    backdrop-filter: var(--blur);
    box-shadow: var(--box-shadow);
  }
  .card-outer {
    background-color: hsla(0, 0%, 100%, 0.05) !important;
    backdrop-filter: var(--blur);
  }
  .card .card-context {
    background: none !important;
  }
}
@keyframes barrelRoll {
  to {
    rotate: 1turn;
  }
}
@keyframes sonic {
  to {
    left: 65vw;
  }
}/*# sourceMappingURL=userContent.css.map */