@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
	.click-target-container *, .top-sites-list *, .section-title * {
		color: #fff !important;
		text-shadow: 2px 2px 2px #222 !important;
	}

	body::before {
		position: fixed;
		content: "";
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
		background: #000 no-repeat url(img/img3.jpg) center;
		/* test: background: #000 no-repeat url("moz-page-thumb://thumbnails/?url=file%3A%2F%2F%2FC%3A%2FUsers%2Fjoshu%2Downloads%2Fx.png&revision=380") center; */
		/* background-image: linear-gradient(135deg, hsl(0, 100%, 50%), hsl(240, 100%, 50%)); */
		background-size: cover;
	}

	.personalize-button:hover, .customize-menu {
		background-color: hsla(0, 0%, 100%, 0.2) !important;
		backdrop-filter: blur(7px);
	}

	.customize-menu .close-button-wrapper {
		background: none !important;
	}

	.logo-and-wordmark {
		margin-bottom: 0 !important;
	}

	.search-wrapper {
		background: none !important;
		border: none !important;
	}

	.search-inner-wrapper {
		display: none !important;
	}

	.top-site-outer {
		border-radius: 12px;
		transition: all ease-in-out .3s, scale ease-in-out .2s;
	}

	.top-site-outer:is(.active, :focus, :hover) {
		background: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: blur(7px);
		box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.17),
					inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
					inset 0 0 1px hsla(0, 0%, 100%, 0.1);
		scale: 1.05;
	}

	.top-site-outer.active ~ * {
		pointer-events: none;
		opacity: 0;
	}

	.tile {
		background: none !important;
		box-shadow: none !important;
	}

	.icon-wrapper {
		width: 64px !important;
		height: 64px !important;
	}

	.top-site-icon {
		width: 100% !important;
		height: 100% !important;
		background-color: transparent !important;
		background-size: contain !important;
	}

	@media (-moz-platform: windows), (-moz-platform: windows-win10) {
		.top-site-outer:nth-child(1) .top-site-icon { background-image: url(logo/1.png) !important; }
		.top-site-outer:nth-child(2) .top-site-icon { background-image: url(logo/2.png) !important; }
		.top-site-outer:nth-child(3) .top-site-icon { background-image: url(logo/3.png) !important; }
		.top-site-outer:nth-child(4) .top-site-icon { background-image: url(logo/4.png) !important; }
		.top-site-outer:nth-child(5) .top-site-icon { background-image: url(logo/5.png) !important; }
		.top-site-outer:nth-child(6) .top-site-icon { background-image: url(logo/6.png) !important; }
		.top-site-outer:nth-child(7) .top-site-icon { background-image: url(logo/7.png) !important; }
		.top-site-outer:nth-child(8) .top-site-icon { background-image: url(logo/8.png) !important; }
		.top-site-outer:nth-child(9) .top-site-icon { background-image: url(logo/9.png) !important; }
		.top-site-outer:nth-child(10) .top-site-icon { background-image: url(logo/10.png) !important; }
		.top-site-outer:nth-child(11) .top-site-icon { background-image: url(logo/11.png) !important; }
		.top-site-outer:nth-child(12) .top-site-icon { background-image: url(logo/12.png) !important; }
		.top-site-outer:nth-child(13) .top-site-icon { background-image: url(logo/13.png) !important; }
		.top-site-outer:nth-child(14) .top-site-icon { background-image: url(logo/14.png) !important; }
		.top-site-outer:nth-child(15) .top-site-icon { background-image: url(logo/15.png) !important; }
		.top-site-outer:nth-child(16) .top-site-icon { background-image: url(logo/16.png) !important; }
	}

	.title span {
		/* font-family: "Dosis", sans-serif; */
		font-size: 1.1rem;
		user-select: none;
	}

	.title:not(.pinned) span {
		font-style: italic;
	}

	.icon-pin-small {
		display: none !important;
	}

	.context-menu-button {
		top: 3px !important;
		border-radius: 14px !important;
	}

	.logo-and-wordmark-wrapper .logo:hover {
		animation: barrelRoll infinite linear 1s;
	}

	.logo-and-wordmark-wrapper .logo:active {
		animation: barrelRoll infinite linear reverse 1s;
	}

	@keyframes barrelRoll {
		to {
			rotate: 1turn;
		}
	}

	/* @keyframes screenSafer {
		0% {
			top: 0;
			left: 0;
		}

		100% {
			top: calc(100% - 64px);
			left: calc(100% - 64px);
		}
	} */

	.discovery-stream article {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: blur(7px);
		box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.17),
					inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
					inset 0 0 1px hsla(0, 0%, 100%, 0.1);
	}

	.card-outer {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: blur(7px);
	}

	.card .card-context {
		background: none !important;
	}
}