@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
	.click-target-container *, .top-sites-list * {
		color: #fff !important;
		text-shadow: 2px 2px 2px #222 !important;
	}

	body::before {
		position: fixed;
		content: "";
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
		background: #000 no-repeat url(img/img3.jpg) center;
		/* test: background: #000 no-repeat url("moz-page-thumb://thumbnails/?url=file%3A%2F%2F%2FC%3A%2FUsers%2Fjoshu%2Downloads%2Fx.png&revision=380") center; */
		/* background-image: linear-gradient(135deg, hsl(0, 100%, 50%), hsl(240, 100%, 50%)); */
		background-size: cover;
	}

	.logo-and-wordmark {
		margin-bottom: 0 !important;
	}

	.search-inner-wrapper {
		display: none !important;
	}

	.top-site-outer {
		transition: backdrop-filter .3s, box-shadow .3s;
	}
	
	.top-site-outer:is(.active, :focus, :hover) {
		background: none !important;
		backdrop-filter: blur(5px);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	}

	.top-site-outer.active ~ * {
		pointer-events: none;
		opacity: 0;
	}

	.tile {
		background: none !important;
		box-shadow: none !important;
	}

	.icon-wrapper {
		width: 64px !important;
		height: 64px !important;
	}

	.top-site-icon {
		width: 100% !important;
		height: 100% !important;
		background-color: transparent !important;
		background-size: contain !important;
	}

	@media (-moz-platform: windows), (-moz-platform: windows-win10) {
		.top-site-outer:nth-child(1) .top-site-icon { background-image: url(logo/1.png) !important; }
		.top-site-outer:nth-child(2) .top-site-icon { background-image: url(logo/2.png) !important; }
		.top-site-outer:nth-child(3) .top-site-icon { background-image: url(logo/3.png) !important; }
		.top-site-outer:nth-child(4) .top-site-icon { background-image: url(logo/4.png) !important; }
		.top-site-outer:nth-child(5) .top-site-icon { background-image: url(logo/5.png) !important; }
		.top-site-outer:nth-child(6) .top-site-icon { background-image: url(logo/6.png) !important; }
		.top-site-outer:nth-child(7) .top-site-icon { background-image: url(logo/7.png) !important; }
		.top-site-outer:nth-child(8) .top-site-icon { background-image: url(logo/8.png) !important; }
		.top-site-outer:nth-child(9) .top-site-icon { background-image: url(logo/9.png) !important; }
		.top-site-outer:nth-child(10) .top-site-icon { background-image: url(logo/10.png) !important; }
		.top-site-outer:nth-child(11) .top-site-icon { background-image: url(logo/11.png) !important; }
		.top-site-outer:nth-child(12) .top-site-icon { background-image: url(logo/12.png) !important; }
		.top-site-outer:nth-child(13) .top-site-icon { background-image: url(logo/13.png) !important; }
		.top-site-outer:nth-child(14) .top-site-icon { background-image: url(logo/14.png) !important; }
		.top-site-outer:nth-child(15) .top-site-icon { background-image: url(logo/15.png) !important; }
		.top-site-outer:nth-child(16) .top-site-icon { background-image: url(logo/16.png) !important; }
	}

	.title span {
		/* font-family: "Dosis", sans-serif; */
		font-size: 1.1rem;
		user-select: none;
	}

	.title:not(.pinned) span {
		font-style: italic;
	}

	.icon-pin-small {
		display: none !important;
	}

	.context-menu-button {
		top: 3px !important;
	}
}
