@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
:root {
	--blur: blur(7px);
	--box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1),
		inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
		inset 0 0 1px hsla(0, 0%, 100%, 0.1);
	--text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.3);
	--drop-shadow: drop-shadow(.2rem .2rem .1rem #0004);
	--title-size: 1rem;
}

.click-target-container *,
.top-sites-list *,
.section-title * {
	color: #fff !important;
	text-shadow: var(--text-shadow) !important;
}

.customize-menu {
	height: 70% !important;
	background-color: hsla(0, 0%, 100%, 0.2) !important;
	backdrop-filter: var(--blur);
	border-radius: 14px !important;
	margin: 10px;
}

.personalize-button {
	background-color: hsla(0, 0%, 100%, 0.2) !important;
	backdrop-filter: var(--blur);
	border-radius: 100px !important;
}

.customize-menu .close-button-wrapper {
	background: none !important;
}

.home-section {
	.selector {
		background-color: transparent !important;
	}

	.divider {
		display: none;
	}
}

.outer-wrapper {
	overflow-x: hidden;
	transition: filter 3s cubic-bezier(1, 0, 0, 1), backdrop-filter 3s cubic-bezier(1, 0, 0, 1);

	&:active:not(:hover) {
		filter: invert(1);
		backdrop-filter: invert(.001);
	}
}

.search-wrapper {
	background: none !important;
	border: none !important;
}

.search-inner-wrapper {
	display: none !important;
}

.top-site-outer {
	border-radius: 12px;
	transition: all ease-in-out .3s, scale ease-in-out .2s;

	&:is(.active, :focus-within, :hover) {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: var(--blur);
		box-shadow: var(--box-shadow);
		scale: 1.05;

		.icon-wrapper {
			scale: 1.1;
		}
	}

	&:active {
		scale: .95;
	}

	&.active~* {
		pointer-events: none;
		opacity: 0;
	}

	.tile {
		background: none !important;
		box-shadow: none !important;
		outline: none !important;
	}

	.icon-wrapper {
		width: 64px !important;
		height: 64px !important;
		border-radius: 8px !important;
		filter: var(--drop-shadow);
		transition: all ease-in-out .3s;
	}

	.top-site-icon {
		width: 100% !important;
		height: 100% !important;
		background-color: transparent !important;
		background-size: contain !important;
	}

	.icon-pin-small {
		display: none !important;
	}
}

.title {
	span {
		font-size: var(--title-size);
		max-height: 22px;
		user-select: none;
		word-break: break-word !important;
		text-wrap: nowrap !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		line-clamp: none !important;
		-webkit-line-clamp: none !important;

		&:hover {
			max-height: 100px;
			contain: none !important;
			text-wrap: wrap !important;
			overflow: unset !important;
			white-space: nowrap;
		}
	}

	&:not(.pinned) span {
		font-style: italic;
	}
}

.context-menu {
	background: hsla(0, 0%, 100%, 0.05) !important;
	backdrop-filter: var(--blur);
	box-shadow: var(--box-shadow) !important;
}

.context-menu-button {
	top: 3px !important;
	right: 3px !important;
	border-radius: 14px !important;
}

.logo-and-wordmark {
	margin-bottom: 0 !important;
}

.logo-and-wordmark-wrapper {
	.logo {
		border-radius: 43%;
		filter: drop-shadow(-.08rem .3rem .2rem #df0d65c0) drop-shadow(.2rem -.3rem .2rem #ffde41c0);
		transition: filter 1s;

		&:hover {
			filter: drop-shadow(-.08rem .3rem .5rem #625ad9c0) drop-shadow(.2rem -.3rem .5rem #bb3ae6c0);
			animation: barrelRoll infinite linear .5s;
		}

		&:active {
			position: relative;
			left: 0;
			animation: barrelRoll infinite linear .5s, sonic linear 1s forwards;
		}
	}

	.wordmark {
		filter: drop-shadow(.2rem .2rem .1rem #0004);
	}
}

.discovery-stream article {
	background-color: hsla(0, 0%, 100%, 0.05) !important;
	backdrop-filter: var(--blur);
	box-shadow: var(--box-shadow);
}

}

@keyframes barrelRoll {
	to {
		rotate: 1turn;
	}
}

@keyframes sonic {
	to {
		left: 65vw;
	}
}