@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
	:root {
		--blur: blur(7px);
		--box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.17),
			inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
			inset 0 0 1px hsla(0, 0%, 100%, 0.1);
	}

	.click-target-container *, .top-sites-list *, .section-title * {
		color: #fff !important;
		text-shadow: 2px 2px 2px #222 !important;
	}

	body::before {
		position: fixed;
		content: "";
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
		overflow-x: hidden;
		background: #000 no-repeat url(img/img3.jpg) center;
		/* test: background: #000 no-repeat url("moz-page-thumb://thumbnails/?url=file%3A%2F%2F%2FC%3A%2FUsers%2Fjoshu%2Downloads%2Fx.png&revision=380") center; */
		/* background-image: linear-gradient(135deg, hsl(0, 100%, 50%), hsl(240, 100%, 50%)); */
		background-size: cover;
	}

	.personalize-button:hover, .customize-menu {
		background-color: hsla(0, 0%, 100%, 0.2) !important;
		backdrop-filter: blur(15px);
	}

	.customize-menu .close-button-wrapper {
		background: none !important;
	}

	.wallpaper-list {
		background: none !important;
		backdrop-filter: blur(3px);
	}

	.home-section {
		.selector {
			background-color: transparent !important;
		}

		.divider {
			display: none;
		}
	}

	.outer-wrapper {
		transition: filter 3s cubic-bezier(1,0,0,1), backdrop-filter 3s cubic-bezier(1,0,0,1);

		&:active:not(:hover) {
			filter: invert(1);
			backdrop-filter: invert(.001);
		}
	}

	.search-wrapper {
		background: none !important;
		border: none !important;
	}

	.search-inner-wrapper {
		display: none !important;
	}

	.top-site-outer {
		border-radius: 12px;
		transition: all ease-in-out .3s, scale ease-in-out .2s;

		&:is(.active, :focus, :hover) { /* Focus not working? */
			background-color: hsla(0, 0%, 100%, 0.05) !important;
			backdrop-filter: var(--blur);
			box-shadow: var(--box-shadow);
			scale: 1.05;

			.icon-wrapper {
				width: 72px !important;
				height: 72px !important;
			}
		}

		&:active {
			scale: .95;
		}

		&.active ~ * {
			pointer-events: none;
			opacity: 0;
		}

		.tile {
			background: none !important;
			box-shadow: none !important;

			&:hover {
				outline: none !important;
			}
		}

		.icon-wrapper {
			width: 64px !important;
			height: 64px !important;
			border-radius: 8px !important;
			filter: drop-shadow(.2rem .2rem .1rem #0004);
			transition: all ease-in-out .3s;
		}

		.top-site-icon {
			width: 100% !important;
			height: 100% !important;
			background-color: transparent !important;
			background-size: contain !important;
		}
	}

	@media (-moz-platform: windows), (-moz-platform: windows-win10) {
		.top-site-outer:nth-child(1) .top-site-icon { background-image: url(logo/youtube.png) !important; }
		.top-site-outer:nth-child(2) .top-site-icon { background-image: url(logo/netflix.png) !important; }
		.top-site-outer:nth-child(3) .top-site-icon { background-image: url(logo/sflix.png) !important; }
		.top-site-outer:nth-child(4) .top-site-icon { background-image: url(logo/hianime.png) !important; }
		.top-site-outer:nth-child(5) .top-site-icon { background-image: url(logo/mangafire.png) !important; }
		.top-site-outer:nth-child(6) .top-site-icon { background-image: url(logo/nexusmods.png) !important; }
		.top-site-outer:nth-child(7) .top-site-icon { background-image: url(logo/maps.png) !important; }
		.top-site-outer:nth-child(8) .top-site-icon { background-image: url(logo/icloud.png) !important; }
		.top-site-outer:nth-child(9) .top-site-icon { background-image: url(logo/github.png) !important; }
		.top-site-outer:nth-child(10) .top-site-icon { background-image: url(logo/codepen.png) !important; }
		.top-site-outer:nth-child(11) .top-site-icon { background-image: url(logo/w3schools.png) !important; }
		.top-site-outer:nth-child(12) .top-site-icon { background-image: url(logo/idealo.png) !important; }
		.top-site-outer:nth-child(13) .top-site-icon { background-image: url(logo/chatgpt.png) !important; }
		.top-site-outer:nth-child(14) .top-site-icon { background-image: url(logo/geogebra.png) !important; }
		.top-site-outer:nth-child(15) .top-site-icon { background-image: url(logo/steamdb.png) !important; }
		.top-site-outer:nth-child(16) .top-site-icon { background-image: url(logo/firefoxcolor.png) !important; }
	}

	.title {
		span {
			/* font-family: "Dosis", sans-serif; */
			font-size: 1.1rem;
			user-select: none;
		}

		&:not(.pinned) span {
			font-style: italic;
		}

		.icon-pin-small {
			display: none !important;
		}
	}

	.context-menu {
		background: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: var(--blur);
		box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.17),
					inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
					inset 0 0 1px hsla(0, 0%, 100%, 0.1) !important;
	}

	.context-menu-button {
		top: 3px !important;
		border-radius: 14px !important;
	}

	.logo-and-wordmark {
		margin-bottom: 0 !important;
	}

	.logo-and-wordmark-wrapper {
		.logo {
			border-radius: 43%;
			filter: drop-shadow(-.08rem .3rem .2rem #df0d65c0) drop-shadow(.2rem -.3rem .2rem #ffde41c0);
			transition: filter 1s;

			&:hover {
				filter: drop-shadow(-.08rem .3rem .5rem #625ad9c0) drop-shadow(.2rem -.3rem .5rem #bb3ae6c0);
				animation: barrelRoll infinite linear .5s;
			}

			&:active {
				position: relative;
				left: 0;
				animation: barrelRoll infinite linear .5s, sonic linear 1s forwards;
			}
		}

		.wordmark {
			filter: drop-shadow(.2rem .2rem .1rem #0004);
		}
	}

	.discovery-stream article {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: var(--blur);
		box-shadow: var(--box-shadow);
	}

	.card-outer {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: var(--blur);
	}

	.card .card-context {
		background: none !important;
	}

	@keyframes barrelRoll {
		to {
			rotate: 1turn;
		}
	}

	@keyframes sonic {
		to {
			left: 65vw;
		}
	}
}